[submodule "PocketDeck/qr-gen"]
	path = qr-gen
	url = https://github.com/PocketDeck/qr-gen.git
[submodule "PocketDeck/pd-core"]
	path = pd-core
	url = https://github.com/PocketDeck/pd-core.git
[submodule "PocketDeck/pd-web"]
	path = pd-web
	url = https://github.com/PocketDeck/pd-web.git
